{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title</title>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'project_css/main_styles.css' %}">
    </head>
    
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <!-- Main Content -->

    <main>
        <h1>Welcome to the Home Page!</h1>
        <p>Discover amazing features, connect with us, and learn more about our work!</p>
       
       


    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Your Website Name. All Rights Reserved.</p>
    </footer>
    <a href="{% url 'about' %}" class="get-started-button">Get Started</a>

</body>
</html>
